img {
    position: relative;

}

body {
    background-color: black;
 }
 p {
     position: absolute;
 }


 .cerchio {
    border-radius: 50%;
    padding: 20px;
    top: 2px;
    right: 13px;
    background-color: yellow;
    position: absolute;

}


.cuori {
    bottom: 2px;
    right: 50%;
    position: absolute;

}

.riga :hover .cuori {
    color:red;

}

.rosso {
    border-radius: 50%;
    padding: 20px;
    top: 2px;
    right: 13px;
    background-color: red;
    position: absolute;
}

.riga {
    background-color: black;
    width: 100%;
    height: 500px;
    position: relative;
    display: inline-block;

}
.tablet {
    width:33%;
    height:500px;
    display: inline-block;
    position: relative;
}
.img-tablet {
    width: 100%;
    height: 500px;
    position: relative;
}

.iphone {
    width:33%;
    height:500px;
    display: inline-block;
    position: relative;

}
.cuffie {
    width:33%;
    height:500px;
    display: inline-block;

}
